---
import BaseLayout from '../layouts/BaseLayout.astro'
import Header from '../components/Header/Header.astro'
import Hero from '../components/Hero/Hero.astro'
import DecodePreviewSimulate from '../components/DecodePreviewSimulate/DecodePreviewSimulate.astro'
import CodeExample from '../components/CodeExample/CodeExample.astro'
import DualTrack from '../components/DualTrack/DualTrack.astro'
import Protocol from '../components/Protocol/Protocol.astro'
import Components from '../components/Components/Components.astro'
import HostedVerify from '../components/HostedVerify/HostedVerify.astro'
import Footer from '../components/Footer/Footer.astro'
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <DecodePreviewSimulate />
    <CodeExample />
    <DualTrack />
    <Protocol />
    <Components />
    <HostedVerify />
  </main>
  <Footer />
</BaseLayout>
